.item {
    width: 14vw;
    border: #e6e6e6 solid 1px;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 7vh 0;
    transition: border-color .4s, box-shadow .4s;
    cursor: pointer;
    text-align: center;
}

.item:hover {
    border-color: #01e281;
    box-shadow: 0 15px 60px 0 rgba(18,45.00000000000004,64,.15) ;
}

.fish {
    min-width: 70px;
    width: 5.5vw;
}

@media (max-width: 1024px) {
    .item {
        width: 31.5%;
        margin-bottom: 22px;
    }
}
@media (max-width: 520px) {
    .item {
        width: 100%;
    }
}