.offItemsWrapper {
    height: 50vh;
    display: flex;
    align-items: center;
    color: white!important;
    text-decoration: none;
    transition: color 0.4s;
}

.offItemsWrapper1 {
    background: transparent!important;
    border-radius: 10px!important;
}

.offItemsWrapper1 ul {
    padding: 0;
    border-radius: 23px;
    background: none;
}
