.headerWrapper {
}

.headerItemsWrapper {
    width: 100%;
    height: 31vh;
    background-color: #122d40;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.headerItems {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-right: 5vh!important;
    margin-left: 5vh;
    margin-bottom: 7vh !important;
}

.logo {
    width: auto;
    height: 11vh;
}

.searchBox {
    margin-right: 8vh;
    position: relative;
    border: none;
    height: 7.5vh ;
    width: 65vh ;
    display: flex;
    align-items: center;
}

.input {
    border: #354c5d solid;
    border-radius: 90vh ;
    height: 7.5vh ;
    width: 65vh ;
    color: white;
    background-color: #354c5d;
    opacity: 1 ;
    padding: 0 4vh;
}

input:focus {
    outline: white none;
}

.searchIcon {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: .8vh;
    width: 7vh;
    height: 7vh;
    background-color: #122d40;
    color: white;
    border-radius: 100vh;
    border: none;
    cursor: pointer
}

.icon {
    font-size: .4rem;
}

.call {
    width: 25vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: #122d40;
    color: white;
    border: none;
    border-radius: 100vh;
    cursor: pointer;
}

.call:hover .callIcon {
    border-color: #01e281;
    color: #01e281;
}

.callIcon {
    padding: 12px;
    border-radius: 100vh;
    border: 1px #354c5d solid;
    transition: border-color 0.3s, color 0.3s;
}

.phoneNumber {
    font-size: smaller;
    margin: -10px 0;
}

.phone {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 5vh;
}

.button {
    width: 7vh;
    height: 7vh;
    background-color: #122d40;
    color: white;
    border-radius: 100vh;
    border: 1px #354c5d solid;
    cursor: pointer;
    margin: 0 2vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.buttonsWrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}