button {
    border: none;
    background: none;
    cursor: pointer;
}

.button1 {
    width: 90%;
    background-color: #01e281;
    border-radius: 100vw;
    height: 40px;
    display: none;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: background-color 0.4s;
    margin-top: -20px;
    position: absolute;
    bottom: -20px;
}

.button1Text {
    color: #122d40;
    font-size: 18px;
    transition: color .4s;
}

.button1:hover .button1Text {
    color: #01e281;
}

.button1:hover {
    background-color: #122d40;
}