.floatBoxItem {
    width: 25%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.floatBoxItemImg {
    background-color: #ccffea;
    border-radius: 100%;
    padding: 10px;
    margin-left: 15px;
}

.title {
    font-size: 20px;
    display:block;
    padding-bottom:5px
}

.description {
    font-size: 14px;
    color: gray;
    display: block;
}

@media (max-width: 1024px) {
    .floatBoxItem {
        flex: 0 0 45%;
        margin-bottom: 22px;
    }
}

@media (max-width: 768px) {
    .floatBoxItem {
        flex: 0 0 95%;
    }
}